In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("kc_house_data - kc_house_data.csv")

In [3]:
df.shape

(21613, 21)

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.401822e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.673622e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [7]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [8]:
df.isnull().sum().sort_values(ascending=False)

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
df.drop(['date','id','zipcode','lat','long'], axis=1, inplace=True)

In [10]:
categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
categorical_cols

[]

In [11]:
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
numeric_cols

['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'sqft_living15',
 'sqft_lot15']

In [12]:
#split the dataset into input features and target column
x=df.drop("price",axis=1)
y=df["price"]

In [13]:
df["price"].value_counts()

price
450000.0    172
350000.0    172
550000.0    159
500000.0    152
425000.0    150
           ...
196900.0      1
747450.0      1
589999.0      1
402723.0      1
999999.0      1
Name: count, Length: 3625, dtype: int64

In [22]:
x.shape

(21613, 15)

In [24]:
x.shape[1]

15

In [14]:
# splitting the datset intom training and testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [30]:
x_train.shape,y_train.shape

((17290, 15), (17290,))

In [17]:
#Build an FNN Model
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\sasan\anaconda3\lib\site-packages (2.20.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (25.9.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google_pasta>=0.1.1 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt_einsum>=2.3.2 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\sasan\appdata\roaming\python\python313\site-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf>=5.28.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (72.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\sasan\appdata\roaming\python\python313\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (3.2.0)
Requirement already satisfied: typing_extensions>=3.6.6 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (1.76.0)
Requirement already satisfied: tensorboard~=2.20.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (2.20.0)
Requirement already satisfied: keras>=3.10.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (3.12.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (2.1.3)
Requirement already satisfied: h5py>=3.11.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (3.12.1)
Requirement already satisfied: ml_dtypes<1.0.0,>=0.5.1 in c:\users\sasan\anaconda3\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2025.4.26)
Requirement already satisfied: markdown>=2.6.8 in c:\users\sasan\anaconda3\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.8)
Requirement already satisfied: pillow in c:\users\sasan\anaconda3\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (11.1.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\sasan\anaconda3\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\sasan\anaconda3\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\sasan\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in c:\users\sasan\anaconda3\lib\site-packages (from keras>=3.10.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in c:\users\sasan\anaconda3\lib\site-packages (from keras>=3.10.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\sasan\anaconda3\lib\site-packages (from keras>=3.10.0->tensorflow) (0.17.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\sasan\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.20.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\sasan\anaconda3\lib\site-packages (from rich->keras>=3.10.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\sasan\appdata\roaming\python\python313\site-packages (from rich->keras>=3.10.0->tensorflow) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\sasan\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.10.0->tensorflow) (0.1.0)

In [23]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
#build the model
model=tf.keras.Sequential([
    keras.layers.Dense(100,input_shape=(15,),activation='relu'),
    keras.layers.Dense(100,activation='relu'),
    keras.layers.Dense(1,activation='linear')])

In [ ]:
#compile the model
model.compile(loss='mean_squared_error',optimizer='adam',metrics=['R2Score'])

In [29]:
# Train the model
model.fit(x_train,y_train,epochs=100)

Epoch 1/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - R2Score: -0.4748 - loss: 192929497088.0000
Epoch 2/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - R2Score: 0.4495 - loss: 72016732160.0000
Epoch 3/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.4806 - loss: 67945779200.0000
Epoch 4/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5024 - loss: 65093001216.0000
Epoch 5/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5106 - loss: 64027914240.0000
Epoch 6/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.5122 - loss: 63810916352.0000
Epoch 7/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.5061 - loss: 64606851072.0000
Epoch 8/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.5152 - loss: 63419985920.0000
Epoch 9/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - R2Score: 0.5153 - loss: 63413800960.0000
Epoch 10/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5181 - loss: 63039356928.0000
Epoch 11/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5177 - loss: 63089725440.0000
Epoch 12/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5183 - loss: 63010545664.0000
Epoch 13/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5195 - loss: 62854074368.0000
Epoch 14/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5235 - loss: 62331584512.0000
Epoch 15/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5225 - loss: 62467055616.0000
Epoch 16/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5262 - loss: 61987581952.0000
Epoch 17/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - R2Score: 0.5282 - loss: 61718073344.0000
Epoch 18/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5301 - loss: 61467893760.0000
Epoch 19/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - R2Score: 0.5334 - loss: 61038063616.0000
Epoch 20/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5345 - loss: 60901076992.0000
Epoch 21/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5402 - loss: 60156190720.0000
Epoch 22/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5428 - loss: 59807227904.0000
Epoch 23/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5494 - loss: 58949054464.0000
Epoch 24/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5538 - loss: 58377031680.0000
Epoch 25/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5586 - loss: 57742450688.0000
Epoch 26/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5650 - loss: 56912523264.0000
Epoch 27/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5703 - loss: 56219369472.0000
Epoch 28/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5750 - loss: 55593508864.0000
Epoch 29/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5775 - loss: 55266213888.0000
Epoch 30/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5843 - loss: 54388256768.0000
Epoch 31/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5883 - loss: 53858398208.0000
Epoch 32/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5932 - loss: 53213609984.0000
Epoch 33/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5925 - loss: 53307404288.0000
Epoch 34/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5984 - loss: 52535242752.0000
Epoch 35/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.5979 - loss: 52600131584.0000
Epoch 36/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - R2Score: 0.5999 - loss: 52343668736.0000
Epoch 37/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6029 - loss: 51945644032.0000
Epoch 38/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6029 - loss: 51951886336.0000
Epoch 39/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6061 - loss: 51526017024.0000
Epoch 40/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6033 - loss: 51900616704.0000
Epoch 41/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6068 - loss: 51440386048.0000
Epoch 42/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6072 - loss: 51385204736.0000
Epoch 43/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6080 - loss: 51281518592.0000
Epoch 44/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6088 - loss: 51180175360.0000
Epoch 45/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6109 - loss: 50906533888.0000
Epoch 46/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6111 - loss: 50870763520.0000
Epoch 47/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6103 - loss: 50981785600.0000
Epoch 48/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6127 - loss: 50667577344.0000
Epoch 49/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6130 - loss: 50628108288.0000
Epoch 50/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6142 - loss: 50470555648.0000
Epoch 51/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6142 - loss: 50472787968.0000
Epoch 52/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.6152 - loss: 50342285312.0000
Epoch 53/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - R2Score: 0.6155 - loss: 50295500800.0000
Epoch 54/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.6174 - loss: 50045370368.0000
Epoch 55/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - R2Score: 0.6185 - loss: 49903239168.0000
Epoch 56/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.6225 - loss: 49386819584.0000
Epoch 57/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - R2Score: 0.6198 - loss: 49740857344.0000
Epoch 58/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6212 - loss: 49554604032.0000
Epoch 59/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6230 - loss: 49315205120.0000
Epoch 60/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6210 - loss: 49581821952.0000
Epoch 61/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6223 - loss: 49409724416.0000
Epoch 62/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6258 - loss: 48947216384.0000
Epoch 63/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6262 - loss: 48905637888.0000
Epoch 64/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6248 - loss: 49079848960.0000
Epoch 65/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6272 - loss: 48767012864.0000
Epoch 66/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6288 - loss: 48554041344.0000
Epoch 67/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6279 - loss: 48682278912.0000
Epoch 68/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6300 - loss: 48403836928.0000
Epoch 69/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6317 - loss: 48184991744.0000
Epoch 70/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6287 - loss: 48573022208.0000
Epoch 71/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6305 - loss: 48336687104.0000
Epoch 72/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6293 - loss: 48498192384.0000
Epoch 73/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6340 - loss: 47879290880.0000
Epoch 74/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6316 - loss: 48194691072.0000
Epoch 75/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6338 - loss: 47902113792.0000
Epoch 76/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6346 - loss: 47806054400.0000
Epoch 77/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6354 - loss: 47693578240.0000
Epoch 78/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6348 - loss: 47773323264.0000
Epoch 79/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6372 - loss: 47462744064.0000
Epoch 80/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6371 - loss: 47477760000.0000
Epoch 81/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6367 - loss: 47521640448.0000
Epoch 82/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6390 - loss: 47223394304.0000
Epoch 83/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6390 - loss: 47225212928.0000
Epoch 84/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6380 - loss: 47352279040.0000
Epoch 85/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6396 - loss: 47145693184.0000
Epoch 86/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6420 - loss: 46837235712.0000
Epoch 87/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6407 - loss: 47004274688.0000
Epoch 88/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6391 - loss: 47209611264.0000
Epoch 89/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6437 - loss: 46616231936.0000
Epoch 90/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6439 - loss: 46580289536.0000
Epoch 91/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6418 - loss: 46862397440.0000
Epoch 92/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - R2Score: 0.6439 - loss: 46587613184.0000
Epoch 93/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6442 - loss: 46539255808.0000
Epoch 94/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6442 - loss: 46550233088.0000
Epoch 95/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - R2Score: 0.6444 - loss: 46521741312.0000
Epoch 96/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6436 - loss: 46622527488.0000
Epoch 97/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - R2Score: 0.6453 - loss: 46403129344.0000
Epoch 98/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6461 - loss: 46291116032.0000
Epoch 99/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6431 - loss: 46690455552.0000
Epoch 100/100
541/541 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - R2Score: 0.6457 - loss: 46343876608.0000

In [31]:
model.evaluate(x_test,y_test)

136/136 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - R2Score: 0.6465 - loss: 53504790528.0000

[53504790528.0, 0.6464943885803223]